*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
   
   
    font-family:'Montserrat', sans-serif;
}
h1{
    padding-top: 10%;
    display: flex;
   
    justify-content: center;
   
    align-items: center;
}
.changer{
    padding-top: 3%;
    text-align: center;
    display: flex;
   flex-direction: column;
    justify-content: center;
     
    align-items: center;
}
.changer input{
    padding:8px 13px;
    margin-bottom: 5px;
    text-align: center;
}
.changer button{
    padding:15px 20px ;
    outline: none;
	background-color: #000;
	color: #fff;
    transform: 1s;
    border: 1px solid #000;
}
button:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
    transition: ease 1s;
}